#comic {
    .bg-dodgerblue {
        background-color: dodgerblue;
        margin-bottom: 40px;
    }
    #img {
        margin-top: -230px;
        padding-bottom: 20px;
    }
    .d-flex {
        display: flex;
        .description {
            padding: 10px;
            .bg-green {
                display: flex;
                background-color: #55ba59;
                height: 50px;
                align-items: center;
                margin: 20px 0;
                padding: 0 30px;
            }
        }
        .advertising {
            padding: 10px;
        }
    }
    .available {
        flex: 1;
        text-align: right;
        padding: 0 30px;
    }
    .price {
        display: flex;
        justify-content: flex-end;
    }
    .flex-end {
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
    }
    .arrow-down {
        font-size: 12px;
    }
    .green {
        color: lightgreen;
    }
    .white {
        color: white;
    }
    .text {
        line-height: 1.5rem;
    }
    .bg-gray {
        background-color: #f6f6f6;
    }
    .boxs {
        display: flex;
        margin-top: 50px;
        padding: 30px 0;
        .talents {
            padding: 10px;
            width: 50%;
        }
        .specs {
            padding: 10px;
            width: 50%;
        }
    }
    .row {
        display: flex;
        justify-content: space-between;
        padding: 10px 0;
        .col-9 {
            display: flex;
            flex-basis: 60%;
        }
        .col {
            display: flex;
            flex-basis: 40%;
        }
    }
    .color-text {
        color: #003f80;
    }
    .text-lightblue {
        color: #00a9df;
    }
    .dimension-img {
        height: 50px;
        filter: grayscale(0);
    }
    .lista {
        display: flex;
        justify-content: center;
        li {
            padding: 0 40px;
        }
    }
    .tag {
        text-decoration: none;
        color: gray;
    }
}