* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.top-header {
  background-color: dodgerblue;
  padding: 5px 0;
}
.top-header .container {
  display: flex;
  justify-content: flex-end;
}
.top-header .container a {
  color: white;
  text-decoration: none;
  padding: 0 10px;
  font-size: 12px;
}

header img {
  width: 100%;
}
header .bg-white {
  background-color: white;
}
header .d-flex {
  display: flex;
}
header .row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .col-right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
header .col-left figure {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}
header li {
  border-bottom: 5px solid transparent;
  list-style-type: none;
  font-size: 15px;
  font-weight: bold;
  padding: 60px 10px;
}
header li.active {
  color: dodgerblue;
  border-bottom: 5px solid dodgerblue;
}
header li a {
  color: black;
  text-decoration: none;
}
header input {
  border: none;
  border-bottom: 2px solid dodgerblue;
  text-align: end;
}
header input:focus-visible {
  outline: 0;
}

footer {
  background-image: url("../images/footer-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
footer #dc-logo {
  background-image: url("../images/dc-logo-bg.png");
  height: 450px;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
}
footer .row {
  display: flex;
}
footer h4 {
  padding: 20px 0;
  font-weight: bold;
  color: white;
}
footer li {
  list-style-type: none;
  padding: 5px 0;
  font-size: 13px;
  color: white;
}
footer .col {
  width: 200px;
  margin-right: 30px;
}

.bg-bottomfooter {
  background-color: #303030;
}
.bg-bottomfooter .row {
  display: flex;
  padding: 30px 0;
  justify-content: space-between;
}
.bg-bottomfooter #sign {
  padding: 15px 10px;
  border: 3px solid #1168b8;
  color: white;
}
.bg-bottomfooter #follow {
  color: dodgerblue;
}
.bg-bottomfooter .col-9 {
  display: flex;
  align-items: center;
}
.bg-bottomfooter ul {
  display: flex;
  list-style-type: none;
  padding: 0 20px;
}
.bg-bottomfooter li {
  padding: 0 10px;
}

.bg-black {
  background-color: #1c1c1c;
}

.bg-image {
  background-image: url("../images/jumbotron.jpg");
  min-height: 400px;
  background-size: cover;
}

button {
  padding: 10px 20px;
  background-color: dodgerblue;
  color: white;
  font-weight: bold;
  font-size: 20px;
  cursor: pointer;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  padding-top: 50px;
}
.cards .card {
  flex-basis: 16.6666666667%;
  padding: 10px;
}
.cards .card figure {
  overflow: hidden;
  width: 180px;
  height: auto;
}
.cards .card figure img {
  width: 100%;
  height: auto;
}
.cards .card h4 {
  color: white;
  padding-top: 20px;
}

.center-button {
  display: flex;
  justify-content: center;
  padding: 20px 0;
}

.pos-relative {
  position: relative;
}

.pos-absolute {
  position: absolute;
  top: -25px;
  left: 0;
}

.bg-lightblue {
  background-color: dodgerblue;
}
.bg-lightblue .d-flex {
  display: flex;
}
.bg-lightblue ul {
  padding: 50px 0;
  justify-content: center;
}
.bg-lightblue li {
  display: flex;
  justify-content: center;
  align-items: center;
}
.bg-lightblue a {
  text-decoration: none;
  color: white;
  font-size: 12px;
  margin: 0 30px;
}
.bg-lightblue img {
  height: 50px;
}

#comic .bg-dodgerblue {
  background-color: dodgerblue;
  margin-bottom: 40px;
}
#comic #img {
  margin-top: -230px;
  padding-bottom: 20px;
}
#comic .d-flex {
  display: flex;
}
#comic .d-flex .description {
  padding: 10px;
}
#comic .d-flex .description .bg-green {
  display: flex;
  background-color: #55ba59;
  height: 50px;
  align-items: center;
  margin: 20px 0;
  padding: 0 30px;
}
#comic .d-flex .advertising {
  padding: 10px;
}
#comic .available {
  flex: 1;
  text-align: right;
  padding: 0 30px;
}
#comic .price {
  display: flex;
  justify-content: flex-end;
}
#comic .flex-end {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}
#comic .arrow-down {
  font-size: 12px;
}
#comic .green {
  color: lightgreen;
}
#comic .white {
  color: white;
}
#comic .text {
  line-height: 1.5rem;
}
#comic .bg-gray {
  background-color: #f6f6f6;
}
#comic .boxs {
  display: flex;
  margin-top: 50px;
  padding: 30px 0;
}
#comic .boxs .talents {
  padding: 10px;
  width: 50%;
}
#comic .boxs .specs {
  padding: 10px;
  width: 50%;
}
#comic .row {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
}
#comic .row .col-9 {
  display: flex;
  flex-basis: 60%;
}
#comic .row .col {
  display: flex;
  flex-basis: 40%;
}
#comic .color-text {
  color: #003f80;
}
#comic .text-lightblue {
  color: #00a9df;
}
#comic .dimension-img {
  height: 50px;
  filter: grayscale(0);
}
#comic .lista {
  display: flex;
  justify-content: center;
}
#comic .lista li {
  padding: 0 40px;
}
#comic .tag {
  text-decoration: none;
  color: gray;
}