* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

header img {
  width: 100%;
}
header .bg-white {
  background-color: white;
}
header .d-flex {
  display: flex;
}
header .row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .col-right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
header .col-left figure {
  display: flex;
  justify-content: flex-start;
  align-items: start;
}
header li {
  border-bottom: 5px solid transparent;
  list-style-type: none;
  font-size: 15px;
  font-weight: bold;
  padding: 60px 10px;
}
header li.active {
  color: dodgerblue;
  border-bottom: 5px solid dodgerblue;
}
header li a {
  color: black;
  text-decoration: none;
}
header input {
  border: none;
  border-bottom: 2px solid dodgerblue;
}

footer {
  background-image: url("../images/footer-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
footer #dc-logo {
  background-image: url("../images/dc-logo-bg.png");
  height: 450px;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
}
footer .row {
  display: flex;
}
footer h4 {
  padding: 20px 0;
  font-weight: bold;
  color: white;
}
footer li {
  list-style-type: none;
  padding: 5px 0;
  font-size: 13px;
  color: white;
}
footer .col {
  width: 200px;
  margin-right: 30px;
}

.bg-black {
  background-color: #1c1c1c;
}

.bg-image {
  background-image: url("../images/jumbotron.jpg");
  min-height: 400px;
  background-size: cover;
}

button {
  padding: 10px 20px;
  background-color: dodgerblue;
  color: white;
  font-weight: bold;
  font-size: 20px;
  cursor: pointer;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  padding-top: 50px;
}
.cards .card {
  flex-basis: 16.6666666667%;
  padding: 10px;
}
.cards .card figure {
  overflow: hidden;
  width: 180px;
  height: 180px;
}
.cards .card h4 {
  color: white;
  padding-top: 20px;
}

.center-button {
  display: flex;
  justify-content: center;
  padding: 20px 0;
}

.pos-relative {
  position: relative;
}

.pos-absolute {
  position: absolute;
  top: -25px;
  left: 0;
}

.bg-lightblue {
  background-color: dodgerblue;
}
.bg-lightblue .d-flex {
  display: flex;
}
.bg-lightblue ul {
  padding: 50px 0;
  justify-content: center;
}
.bg-lightblue li {
  display: flex;
  justify-content: center;
  align-items: center;
}
.bg-lightblue a {
  text-decoration: none;
  color: white;
  font-size: 12px;
  margin: 0 30px;
}
.bg-lightblue img {
  height: 50px;
}